
html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
*{
    margin:0;
    padding: 0;
   
}
#contentdiv{
   
    height: 100%;
    width: 100%;

}
#startdiv{
    width: 100%;
    height: 100%;
    max-width: 768px;
 
    background: url(../image/开始背景.png)no-repeat;
    background-size:cover;
    
    position: relative;
    text-align: center;
}
button{
    outline: none;
}
#startdiv button{
    /*position: absolute;
    bottom:10%;*/
   /* 
    margin-left: auto;
    margin-right: auto;*/
    margin-top: 90%;
    width: 150px;
    height: 30px;
    border: 1px solid black;
    border-radius: 30px;
    background-color: #c4c9ca;
}
#maindiv{
    width: 100%;
    height: 100%;
    max-width: 768px;
    background:url(../image/background_1.png);
    background-size: cover;
    text-align: center;
    display: none;
    position: relative;
    overflow: hidden;
}
#maindiv img{
    position: absolute;
    z-index: 1;

}
#scorediv{
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 10px;
    display: none;
}
#scorediv{
    font-size: 18px;
    font-weight: bold;
    z-index: 2;
}
#scorediv2 button{
    position: absolute;
    top: 10px;
    right:  10px;
    width: 62px;
    height: 30px;
    /*margin-bottom: 20px;*/
    border: 1px solid black;
    border-radius: 30px;
    background-color: #c4c9ca;
    z-index: 999;
}




#suspenddiv{
    position: absolute;
    /*left: 30%;*/
    top: 50%;
   /*margin-left: auto;
   margin-right: auto;*/
   /*margin-top: 50%;*/
    display: none;
    z-index: 2;
    /*float: left;
    left: 50%*/
}
#suspenddiv button{
    width: 150px;
    height: 30px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 30px;
    background-color: #c4c9ca;
}
#enddiv{
    /*position: absolute;
    top: 210px;
    left: 75px;*/
   /* margin-left: auto;
    margin-right: auto;*/
    /*margin-top: 50%;*/
    position: absolute;
    left: 30%;
    top: 50%;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    background-color:#d7ddde;
    display: none;
    z-index: 99;
}
.plantext{
    width: 160px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
}
#planscore{
    width: 160px;
    height: 80px;
    line-height: 80px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    font-size: 16px;
    font-weight: bold;
}
#enddiv div{
    width: 160px;
    height: 50px;
}
#enddiv div button{
    margin-top:10px ;
    width: 90px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 30px;
}
