html{
	font-size: calc(100vw/3.2);
}
#page1{
	background: url(../img/all_page_bg.jpg);	
	height: 100%;
}
#head{
	background: url(../img/face.png);
	width: 1.4rem;
	height: 1.7rem;
	position: absolute;
	left: 1.54rem;
	top: 2rem;
	background-size: 100% 100%;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	z-index: 100;
	transform-origin: center center; 
}
#shelf_bg{
	background: url(../img/shelf_bg.png);
	width: 2.6rem;
	height: 2.6rem;
	bottom: 1.2rem;
	left: 0.3rem;
	position: absolute;
	
}
#song{
	background: url(../img/song.png);
	background-size: 100% 100%;
	width: 2.6rem;
	height: 2.8rem;
	left: 0.3rem;
	top: 2rem;
	position: absolute;
	
}
#demond{
	background: url(../img/demond.png);
	background-size: 100% 100%;
	width: 0.3rem;
	height: 0.3rem;
	left: 2.4rem;
	bottom: 0.4rem;
	position: absolute;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}
.heart{
	top: 0.5rem !important;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}
#page3{
	background: url(../img/all_page_bg.jpg);
}
#test_head1{
	background: url(../img/head1.png);
	width: 0.7rem;
	height:0.7rem;
	position: absolute;
	left: 0.5rem;
	top: 0.9rem;
}
#test_head2{
	background: url(../img/head2.png);
	width: 0.7rem;
	height: 0.7rem;
	position: absolute;
	left: 1.3rem;
	top: 1.1rem;
}
#test_head3{
	background: url(../img/head3.png);
	width: 0.6rem;
	height: 0.7rem;
	position: absolute;
	left: 2.1rem;
	top: 0.9rem;
}
#test_text{
	background: url(../img/test_text.jpg);
	width: 2.3rem;
	height: 0.4rem;
	position: absolute;
	left: 0.45rem;
	top: 1.8rem;
}
#test_btn{
	background: url(../img/next_btn.jpg);
	width: 1.3rem;
	height: 0.5rem;
	position: absolute;
	left: 1rem;
	bottom: 0.5rem;
}
#confirm{
	background: url(../img/page1_btn.png);
	position: absolute;
	left: 1rem;
	height: 0.5rem;
	width: 1.2rem;
	bottom: 0.3rem;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}
#head1{
	background: url(../img/head1.png);
	width: 0.5rem;
	height: 0.5rem;
	position: absolute;
	left: 0.5rem;
	top: 1rem;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}
#head2{
	background: url(../img/head2.png);
	width: 0.5rem;
	height:0.5rem;
	position: absolute;
	left: 0.5rem;
	top: 1.5rem;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}
#head3{
	background: url(../img/head3.png);
	width: 0.375rem;
	height: 0.5rem;
	position: absolute;
	left: 1.3rem;
	top: 1.4rem;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}
#head4{
	background: url(../img/head4.png);
	width: 0.5rem;
	height: 0.5rem;
	position: absolute;
	left: 2.1rem;
	top: 1.4rem;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}
#header{
	background: url(../img/header.png);
	position: absolute;
	width: 2.4rem;
	height: 0.9rem;
	top: 0.5rem;
	left: 0.4rem;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	background-size: 100% 100%;
	
}
#page2{
	background: url(../img/page2_bg.png);
}
#hand{
	background: url(../img/p2_shou.png);
	position: absolute;
	width: 1rem;
	height: 0.6rem;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	background-size: 100% 100%;
	bottom: 0.3rem;
	left: 1.9rem;
	z-index: 100;
}

#lamp{
	background: url(../img/lamp.png);
	height: 1.1rem;
	width: 0.4rem;
	left: 2.4rem;
	bottom: 0.4rem;
}
#sofa{
	background: url(../img/sofa.png);
	height: 0.7rem;
	width: 1.4rem;
	left: 1rem;
	bottom: 0.4rem;
}
#shelf{
	background: url(../img/shelf.png);
	height: 0.7rem;
	width: 0.6rem;
	left: 0.4rem;
	bottom: 0.4rem;
}
.content{
	position: absolute;
	width: 2.7rem;
	height: 1.2rem;
	top: 2.6rem;
	left: 0.25rem;
	font-size: 0.14rem;
	text-align: center;
}
.content p{
	line-height: 0.3rem;
	
}
.content ul{
	margin-top: 0.1rem;
	padding: 0 0.3rem;
	left: 0.3rem;
	box-sizing: border-box;
	position: relative;
}
.content li{
	position: relative;
	width: 50%;
	float: left;
	line-height: 0.3rem;
	text-align: left;
}
#button{
	width: 13rem;
	height: 5rem;
	position: absolute;
	top: 4.3rem;
	left: 0.9rem;
}
#but1{
	width: 1rem;
	height: 0.4rem;
	position: absolute;
	top: 3.7rem;
	left: 0.5rem;
	background: url(../img/scroll_btn.png);
	background-size: 100% 100%;
}
#but2{
	width: 1rem;
	height: 0.4rem;
	position: absolute;
	top: 3.7rem;
	left: 0.5rem;
	background: url(../img/scroll_btn.png);
	background-size: 100% 100%;
}
#but3{
	width: 1rem;
	height: 0.4rem;
	position: absolute;
	top: 3.7rem;
	left: 0.5rem;
	background: url(../img/scroll_btn.png);
	background-size: 100% 100%;
}
.share{
	width: 1rem;
	height: 0.4rem;
	position: absolute;
	top: 3.7rem;
	right: 0.5rem;
	background: url(../img/zaogao.png);
	background-size: 100% 100%;
}
#page4{
	background: url(../img/all_page_bg.jpg);
}
#page5{
	background: url(../img/all_page_bg.jpg);
}
#page6{
	background: url(../img/all_page_bg.jpg);
}
.scroll_text{
	position: absolute;
	top: 0.8rem;
	height: 3.5rem;
	width: 2.4rem;
	left: 0.4rem;
	background: #f094ae;
	box-shadow: 3px 3px 3px #b39f89;
	border-radius: 10px;
	line-height: 0.3rem;
}
#heart1{
	background: url(../img/heart.png);
	width: 0.3rem;
	height: 0.3rem;
	left: 2rem;
	top: 0.2rem;
}
#heart2{
	background: url(../img/heart1.png);
	width: 0.3rem;
	height: 0.3rem;
	left: 0.2rem;
	top: 0.2rem;
}
.scroll_text h3{
	position: absolute;
	left: 1rem;
	font-size: 0.2rem;
	font-weight: 200;
	text-align: center;
	color: white;
	top: 0.2rem;
}
.scroll_text p{
	position: absolute;
	font-size: 0.15rem;
	font-weight: 200;
	color: white;
	padding: 0.2rem;
	top: 0.4rem;
	line-height: 0.25rem;
}
.scroll_text p span{
	font-weight: 300;
	font-size: 0.17rem;
	line-height: 0.2rem;
}
.mask{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 101;
	background-color: rgba(0,0,0,0.7);
	display: none;
}
.mask img{
	width: 80%;
	position: absolute;
	right: 0;
	top: 4%;
}
.copyright{
	position: absolute;
	bottom: 4%;
	right: 10%;
	font-size: 12px;
	color: black;
}
